# Pnpm postinstall script should execute after all dependencies download.
node-linker=hoisted
# Predictable dependency versions.
save-exact=true
init-author-name=Geetesh Laddha
init-author-email=geetesh911@gmail.com
init-author-url=https://github.com/geetesh911
